.navbar
  min-width: 100%
  min-height: 80px

.navbar-logo
  text-align: center

.navbar-social
  width: 5%
  position: fixed
  top: 20px
  left: 0
  display: flex
  flex-direction: column
  text-align: center
  z-index: 2

  a
    color: transparentize($black, 0.3)
    font-size: 1em
    padding-bottom: 20px

    &:hover
      color: $black

.navbar-logo img
  padding-top: 50px
  width: 200px

.navbar-menu
  width: 5%
  position: fixed
  top: 20px
  right: 0
  text-align: center
  z-index: 2

  a
    color: transparentize($black, 0.3)

    &:hover
      color: $black

#full-menu
  position: fixed
  top: -100%
  left: 5%
  width: 90%
  height: 100%

  // background-color: darken($blue-shadow, 40)
  background-color: $white
  font-size: 1em
  font-weight: 600
  z-index: 1
  display: flex
  text-align: center

  // -webkit-clip-path: polygon(20% 0, 100% 0, 100% 80%, 0 100%)
  // clip-path: polygon(20% 0, 100% 0, 80% 100%, 0 100%)
  ul
    margin: auto
    line-height: 2em

    li
      a
        font-family: $font-primary
        color: transparentize($black, 0.2)
        padding-bottom: 10px
        text-decoration: none

        // border-bottom: solid 4px transparentize($black, 0.2)
        // transition: all 0.5s ease-in-out
        // -webkit-transition: all 0.5s ease-in-out
        position: relative
        transition: all 0.3s ease-in-out
        -webkit-transition: all 0.3s ease-in-out

        &:before
          position: absolute
          content: ""
          width: 40%
          height: 1px
          bottom: 0
          border-bottom: solid 4px transparentize($blue, 0.2)
          left: 30%
          transition: all 0.3s ease-in-out
          -webkit-transition: all 0.3s ease-in-out

        &:hover
          color: $black

          &:before
            width: 100%
            left: 0

        // &:hover
        //   color: $black
        //   border-bottom: solid 4px $blue

#full-menu.active
  top: 0
