//output:../../about.html, pretty:false

doctype html
html(lang='en')
  head
    title Dignitas Youth UofT - About
    meta(name='copyright', content=COPYRIGHT)
    meta(name='description', content=DESCRIPTION)
    meta(name='keywords', content=KEYWORDS)
    meta(name='viewport', content=width=device-width, initial-scale=1)
    link(href='styles.min.css', rel='stylesheet')

  body
    include navbar
    .container
      .row.reveal-header
        .about-header
      h1 Our Mission
      .row.reveal
        .missions
          h3 We coordinate advocacy campaigns and events to engage the student community in the global response to HIV and other diseases.
        .missions
          p Dignitas International Youth Club (University of Toronto Chapter) seeks to provide a quality of life with dignity for children, youth and families affected by HIV/AIDS in resource-poor settings. We plan and execute a number of campus events such as seminars, coffeehouses, and fundraisers to promote HIV/AIDS-related issues among the university community. 
      h1 Our Goals
      .row.reveal
        .goals
          .goals-col
            h2 1
            p <br>
            h3 To provide quality of life for the world’s most vulnerable populations affected by HIV/AIDS.
          .goals-col
            h2 2
            p <br>
            h3 To educate intervention initiatives, current scientific research, socioeconomic issues, and preventative strategies.
          .goals-col
            h2 3
            p <br>
            h3 To engage the students and the local, national, and international community to bring positive changes.
      a.button1.reveal(href="http://dignitasinternational.org/") Read More About Dignitas
      h1 Our Team
      .row
        .team
          .team-row.reveal
            .member
              img.member-photo(src="asset/img/photos/members/lydia.jpg")
              h3 Lydia To
              p Co-president
            .member
              img.member-photo(src="asset/img/photos/members/vicky.jpg")
              h3 Vicky Zhang
              p Co-president
            .member
              img.member-photo(src="asset/img/photos/members/sophia.jpg")
              h3 Sophia Kim
              p Vice president
          .team-row.reveal
            .member
              img.member-photo(src="asset/img/photos/members/adam.jpg")
              h3 Adam Change
              p Fundraising Director
            .member
              img.member-photo(src="asset/img/photos/members/kevin.jpg")
              h3 Kevin Chen
              p Fundraising Director
            .member
              img.member-photo(src="asset/img/photos/members/minxi.jpg")
              h3 Min Xi
              p Fundraising Director
          .team-row.reveal
            .member
              img.member-photo(src="asset/img/photos/members/fahim.jpg")
              h3 Fahim Shahreer
              p Web Developer
            .member
              img.member-photo(src="asset/img/photos/members/martha.jpg")
              h3 Martha Ghebresselassie
              p Marketing Director
            .member
              img.member-photo(src="asset/img/photos/members/zenab.jpg")
              h3 Zenab Farooq
              p Marketing Director
          .team-row.reveal
            .member
              img.member-photo(src="asset/img/photos/members/courtney.jpg")
              h3 Courtney Wong
              p Events and Promotion Director
            .member
              img.member-photo(src="asset/img/photos/members/aryana.jpg")
              h3 Aryana Chakravarty
              p Events and Promotion Director
          .team-row.reveal
      h1 Our Past Executive Members
      .row
        .team
          .team-row.reveal
            .member
              img.member-photo(src="asset/img/photos/members/alana.jpg")
              h3 Alana Man
              p Co-president
              p (2014-2016)
            .member
              img.member-photo(src="asset/img/photos/members/meizhang.jpg")
              h3 Meizhang Xing
              p Fundraising Director
              p (2014-2016)
            .member
              img.member-photo(src="asset/img/photos/members/cynthia.jpg")
              h3 Cynthia Wong
              p Marketing Director & Graphic Designer
              p (2014-2016)
      include contact
    include footer
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js", type="text/javascript")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js", type="text/javascript")
    script(src="asset/js/main.js", type="text/javascript")
    script(src="asset/js/scrollreveal.min.js", type="text/javascript")
    include scripts
