//output:../../blog.html, pretty:false

doctype html
html(lang='en')
  head
    title Dignitas Youth UofT - Blog
    meta(name='copyright', content=COPYRIGHT)
    meta(name='description', content=DESCRIPTION)
    meta(name='keywords', content=KEYWORDS)
    meta(name='viewport', content=width=device-width, initial-scale=1)
    link(href='styles.min.css', rel='stylesheet')

  body
    include navbar
    .container
      .blog
        h1 Our Blog
        .post.reveal
          h2 World AIDS Day 2016
          h4 30 December, 2016
          p We are happy to be collaborating with the University of Toronto International Health Program to host the annual World AIDS Day, and it is not too late to register!
          .links-black
            a(href="post-2016-12-30.html") Read More
        .post.reveal
          h2 HIV/AIDS Research Seminar
          h4 5 March, 2016
          p Hear from the world’s leading researchers in HIV/AIDS and their current progress in emerging HIV prevention strategies and HIV-related health interventions.
          .links-black
            a(href="post-2016-03-05.html") Read More
        .post.reveal
          h2 Aids Awareness Week
          h4 24 November, 2015
          p This week is the AIDS AWARENESS WEEK! Groups on campus including us Dignitas have prepared a full week of activities for you to get ready for World’s Aids Day!
          .links-black
            a(href="post-2015-11-24.html") Read More
        .post.reveal
          h2 The Annual University of Toronto World AIDS Day
          h4 20 november, 2015
          p The annual University of Toronto World AIDS Day event will take place on Tuesday, December 1st, 2015 in the Great Hall at Hart House.
          .links-black
            a(href="post-2016-11-20.html") Read More
        .post.reveal
          h2 Dignitas Youth U of T Coffeehouse
          h4 6 november, 2015
          p Are exams stressing you out? Are you buried alive by assignments? Are you a baggy-eyed student with a coffee cup permanently glued to your hand?
          .links-black
            a(href="post-2016-11-06.html") Read More
        .post.reveal
          h2 Welcome to Dignitas Youth 2015
          h4 23 January, 2015
          p We are excited to start 2015 with a bang but we need help from hard working and passionate global health enthusiasts. We have a number of positions available right now.
          .links-black
            a(href="post-2016-01-23.html") Read More
      include contact
    include footer
    include scripts
