.contact
  .contact-left
    h2 
      | What are 
      span#you You
      |  doing in the War against AIDS?
  .contact-right
    h1 Contact Us
    p Looking to turn your passion for global health into action? Want to help impact the lives of the many affected by HIV/AIDS? Get in touch with us through our newsletter, email or stay updated of all of our events through our facebook group!
    p <br>Email: dignitasyouth.uoft@gmail.com
    a(href="https://www.facebook.com/DignitasYouthUofT/")
      i.fa.fa-facebook.fa-2x
    a(href="mailto:dignitasyouth.uoft@gmail.com")
      i.fa.fa-envelope-o.fa-2x
    a(href="http://eepurl.com/cIaHvr")
      i.fa.fa-wpforms.fa-2x
