//output:../../index.html, pretty:false

doctype html
html(lang='en')
  head
    title Dignitas Youth UofT
    meta(name='copyright', content=COPYRIGHT)
    meta(name='description', content=DESCRIPTION)
    meta(name='keywords', content=KEYWORDS)
    meta(name='viewport', content=width=device-width, initial-scale=1)
    link(href='styles.min.css', rel='stylesheet')

  body
    include navbar
    .container
      .row.reveal-header
        .home-header
      h1 About Us
      .row.reveal
        .about-us-cols
          h2 Dignitas Youth at UofT is a student group of young leaders united for Change.
          .links-white
            a(href="./about.html") Find out more about us!
        .about-us-cols
      h1 Our Events and Posts
      .row.reveal
        .recent-activities-left
          .activities-left-1
            .activites-tag
              h4 Event
            .activites-content
              h3 Dignitas Youth U of T Coffeehouse
              p Take a well-deserved break and come out to our first annual coffeehouse! Sink into a couch, release the inner foodie in you, and enjoy a cup of tea with delicious desserts and light snacks! 
              a(href="") Read More
          .activities-left-2
            .activites-tag
              h4 Event
            .activites-content
              h3 World AIDS Day Bake Sale
              p Join us for delicious baked goods and learn more about our annual bike-athon, Race for Dignity!
              a(href="./post-2016-03-05.html") Read More
        .recent-activities-right
          .activites-tag
            h4 Event
          .activites-content
            h3 HIV/AIDS Research Seminar
            p Hear from the world’s leading researchers in HIV/AIDS and their current progress in emerging HIV prevention strategies and HIV-related health interventions.
            a(href="./post-2016-03-05.html") Read More
      a.button1.reveal(href="./blog.html") Read More Posts

      include contact

    include footer
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js", type="text/javascript")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js", type="text/javascript")
    script(src="asset/js/main.js", type="text/javascript")
    script(src="asset/js/scrollreveal.min.js", type="text/javascript")
    include scripts
