//output:../../index.html, pretty:false

doctype html
html(lang='en')
    head
        title site name
        meta(name='copyright', content=COPYRIGHT)
        meta(name='description', content=DESCRIPTION)
        meta(name='keywords', content=KEYWORDS)
        meta(name='viewport', content=width=device-width, initial-scale=1)
        link(href='styles.min.css', rel='stylesheet')

    body
        import navbar

        import footer
        script(src='asset/js/main.js')
