.navbar
    .navbar-logo.reveal
        img(src="asset/img/logos/logo.png")
    .navbar-menu
        a#menubar(href="javascript:void")
            i.fa.fa-2x.fa-bars
    .navbar-social
        i.fa.fa-facebook.fa-2x
        i.fa.fa-envelope-o.fa-2x
        
#full-menu
    ul
        li 
            a(href="#") Home
        li
            a(href="#") About
        li
            a(href="#") Blog
