.navbar
    .navbar-logo.reveal
        a(href="/")
            img(src="asset/img/logos/logo.png")
    .navbar-menu
        a#menubar(href="javascript:void")
            i.fa.fa-2x.fa-bars
    .navbar-social
        a(href="#")
            i.fa.fa-facebook.fa-2x
        a(href="#")
            i.fa.fa-envelope-o.fa-2x
        
#full-menu
    ul
        li 
            a(href="/") Home
        li
            a(href="./about.html") About
        li
            a(href="./blog.html") Blog
