//output:../../post-2015-11-20.html, pretty:false

doctype html
html(lang='en')
  head
    title Dignitas Youth UofT - post
    meta(name='copyright', content=COPYRIGHT)
    meta(name='description', content=DESCRIPTION)
    meta(name='keywords', content=KEYWORDS)
    meta(name='viewport', content=width=device-width, initial-scale=1)
    link(href='styles.min.css', rel='stylesheet')

  body
    include navbar
    .container
      .blog
        .post.reveal
          img(src="asset/img/photos/seminar.jpg")
          h2 The Annual University of Toronto World AIDS Day
          h4 20 November, 2015
          p The annual University of Toronto World AIDS Day event will take place on Tuesday, December 1st, 2015 in the Great Hall at Hart House.
          p Registration is open to all university faculty members, alumni, students and community members. Seats are limited so be sure to reserve a spot.
          .links-red
            a(href="https://www.facebook.com/events/747240705379815/") More Details
          .links-red
            a(href="https://www.eventbrite.ca/e/university-of-toronto-world-aids-day-2015-tickets-19525826272") Register Here
          .links-red
            a(href="https://www.worldaidsdayuoft.com/") Website
          p The University of Toronto World AIDS Day event aims to commemorate the university community in its formidable efforts in targeting issues and formulating solutions pertaining to the AIDS pandemic. Featuring speakers from a variety of disciplines who are distinguished for their exceptional research and advocacy, this event promises to be an invigorating amalgamation of knowledge-sharing and discussion. It will highlight some of the many advances that have been made, while also emphasizing the need for collaborative efforts to continue making progress in our work surrounding HIV/AIDS. In addition to our guest speakers, there will be musical and artistic performances as well as a NGO fair that will feature an array of campus groups and community organizations who have made staggering contributions to HIV/AIDS efforts at both a local and global level. This event is entirely FREE, though optional donations will be accepted, with all proceeds going to the Teresa Group, a clinic specializing in frontline services to support the wellbeing of children affected with HIV/AIDS and their families.
          .links-black
            a 
              i.fa.fa-arrow-left.fa-1x
              |  Go back to all posts

      include contact
    include footer
    include scripts
