//output:../../post-2015-01-23.html, pretty:false

doctype html
html(lang='en')
    head
        title Dignitas Youth UofT - World AIDS Day 2016
        meta(name='copyright', content=COPYRIGHT)
        meta(name='description', content=DESCRIPTION)
        meta(name='keywords', content=KEYWORDS)
        meta(name='viewport', content=width=device-width, initial-scale=1)
        link(href='styles.min.css', rel='stylesheet')

    body
        include navbar
        .container
            .blog
                .post.reveal
                    img(src="asset/img/photos/seminar.jpg")
                    h2 World AIDS Day 2016
                    h4 30 December, 2016
                    p We are excited to start 2015 with a bang but we need help from hard working and passionate global health enthusiasts. We have a number of positions available right now.  If you are interested in joining our team:
                    p 1) Please send us a short e-mail how you learned about Dignitas, your educational background, any previous relevant experiences, and why you think you’d be a great addition to our team: dignitasyouth.uoft@gmail.com
                    p 2) Attach your Resume/CV
                    p Eligibility
                    p Any University of Toronto student (undergraduate or graduate), alumni, or staff from any discipline are allowed to apply. This includes but not limited to individuals in Global Health, Political Science, International Development, Life Sciences, Journalism, Commerce, Engineering, etc.
                    p List of job descriptions:
                    p Secretary, Fundraising, Directors, Marketing Directors, Webmaster
                    p Applications close February 17th!
                    .links-black
                        a 
                            i.fa.fa-arrow-left.fa-1x
                            |  Go back to all posts

            include contact
        include footer
        include scripts
