//output:../../post-2015-11-06.html, pretty:false

doctype html
html(lang='en')
  head
    title Dignitas Youth UofT
    meta(name='copyright', content=COPYRIGHT)
    meta(name='description', content=DESCRIPTION)
    meta(name='keywords', content=KEYWORDS)
    meta(name='viewport', content=width=device-width, initial-scale=1)
    link(href='styles.min.css', rel='stylesheet')

  body
    include navbar
    .container
      .blog
        .post.reveal
          img(src="asset/img/photos/seminar.jpg")
          h2 Dignitas Youth U of T Coffeehouse
          h4 6 November, 2015
          p Are exams stressing you out? Are you buried alive by assignments? Are you a baggy-eyed student with a coffee cup permanently glued to your hand?
          p Why not take a well-deserved break and come out to our first annual coffeehouse? Sink into a couch, release the inner foodie in you, and enjoy a cup of tea with delicious desserts and light snacks!
          p It’s not a coffeehouse without YOUR amazing talent of course! You’re in for a night of amazing performances by talented singers, dancers, and poets! FEELING BRAVE? Why not step into the spotlight and show the world what you’ve got?
          p Is that it? OF COURSE NOT. We’re not done spoiling you yet!
          p Admission is FREE! We’re accepting a suggested donation of $5 though, so come with your spare change and show your support for Dignitas International’s initiatives in HIV/AIDS awareness and research!
          p Last but not least, we’re having a RAFFLE DRAW! Purchase a $2 ticket and you will get a chance to win a movie ticket. The more tickets you buy, the higher your chances of winning, so go ahead and test your luck!
          .links-black
            a 
              i.fa.fa-arrow-left.fa-1x
              |  Go back to all posts

      include contact
    include footer
    include scripts
